@font-face {
  font-family: "Billie Bonnie";
  src: url("../fonts/billie-bonnie.ttf") format("truetype");
}

/*======================

 Universal Styling

=======================*/

* {
  border: 0;
  padding: 0;
  margin: 0;
}

.heading {
  background: rgb(171, 96, 79);
  text-align: center;
  color: white;
  padding: 10px;
}

.main {
  font-family: "Billie Bonnie", cursive;
  font-size: 60px;
  letter-spacing: .025em;
  font-weight: normal;
}

.border {
  display: inline-block;
}

.border-left,
.border-right {
  border-top: 2px solid white;
  position: relative;
  width: 160px;
}

.border-left {
  right: 150px;
  top: 6px;
}

.border-right {
  left: 150px;
  bottom: 25px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 7px;
}

.menu {
  background: rgb(142, 136, 108);
  text-align: center;
  padding: 15px;
}

.menu ul {
  list-style: none;
}

.menu > ul > li {
  display: inline-block;
  background: rgb(142, 136, 108);
  position: relative;
  z-index: 9;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  padding: 8px 26px 8px 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  display: block;
  transition: .3s;
}

.menu ul li a:hover {
  background: white;
  color: #3c3c3c;
  transition: .3s;
}

.sub-menu {
  display: none;
}

.menu-item:hover .sub-menu {
  display: block;
  position: absolute;
  top:32px;
  background: rgb(142, 136, 108);
  width: 100%;
}

footer {
  background: rgb(171, 96, 79);
  position: relative;
  color: white;
}

footer ul li {
  display: inline-block;
  padding: 40px 10px 10px 10px;
}

footer ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat",sans-serif;
}

footer p a {
  color: white;
  padding-left: 5px;
  font-size: 35px;
}

.social-media-icons {
  position: absolute;
  right: 15px;
  bottom: 5px;
}

/*=======================

 Home Section Styling

========================*/

.home-section {
  background: rgb(207, 152, 134);
  position: relative;
  min-height: 90vh;
}

.images {
  text-align: center;
}

.individual-image {
  display: inline-block;
}

.city-image {
  max-width: 350px;
  margin: 70px 20px 20px 20px;
  padding: 10px;
  background: rgb(239, 226, 223);
}

.greeting {
  color: rgb(121, 115, 81);
  position: absolute;
  font-family: "Billie Bonnie", cursive;
  font-weight: normal;
  font-size: 80px;
  right: 40px;
  top: 20px;
  transform: rotate(10deg);
  animation: movement 6s forwards 1 linear;
}

/*=======================

 About Page Styling

========================*/

.about-section{
  background: rgb(228, 207, 195);
  min-height: 110vh;
}

.about-me {
  background: rgb(216, 179, 153);
  max-width: 700px;
  max-height: 400px;
  float: right;
  padding: 20px 20px 0 20px;
  margin: 190px 70px 0 0;
  position: absolute;
  right: 100px;
  z-index: 9;
}

.about-me-box {
  background: rgb( 121, 115, 81);
  position: absolute;
  z-index: 8;
  height: 200px;
  width: 400px;
  right: 145px;
  top: 350px;
}

.about-greeting-1 {
  color: rgb(121, 115, 81);
  font-family: "Billie Bonnie", cursive;
  font-size: 70px;
  font-weight: normal;
}

.about-greeting-2 {
  color: rgb(121, 115, 81);
  font-family: "Fira Sans", sans-serif;
  font-weight: lighter;
  font-size: 40px;
  text-align: center;
}

.summary,
.summary2 {
  color: white;
  font-family: "Fira Sans", sans-serif;
}

.summary2 {
  margin-top: 20px;
}

.closing {
  color: rgb(121, 115, 81);
  font-family: "Billie Bonnie", cursive;
  font-size: 70px;
  text-align: right;
}

.about-image {
  float: left;
  margin: 70px 0 0 160px;
  background: rgb(207, 152, 134);
  padding:40px;
  position: relative;
}

/*==========================

  Animation Section

===========================*/

@keyframes movement {
  0% {
    left: -300px;
}
  100% {
    left: 1188px;
  }
}
