@font-face {
  font-family: "Billie Bonnie";
  src: url("../fonts/billie-bonnie.ttf") format("truetype");
}

/*======================

 Universal Styling

=======================*/

* {
  border: 0;
  padding: 0;
  margin: 0;
}

.heading {
  background: rgb(171, 96, 79);
  text-align: center;
  color: white;
  padding: 10px;
}

.main {
  font-family: "Billie Bonnie", cursive;
  font-size: 60px;
  letter-spacing: .025em;
  font-weight: normal;
}

.border {
  display: inline-block;
}

.border-left,
.border-right {
  border-top: 2px solid white;
  position: relative;
  width: 160px;
}

.border-left {
  right: 150px;
  top: 6px;
}

.border-right {
  left: 150px;
  bottom: 25px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 7px;
}

.menu {
  background: rgb(142, 136, 108);
  text-align: center;
  padding: 15px;
}

.menu ul {
  list-style: none;
}

.menu > ul > li {
  display: inline-block;
  background: rgb(142, 136, 108);
  position: relative;
  z-index: 9;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  padding: 8px 26px 8px 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  display: block;
  transition: .3s;
}

.menu ul li a:hover {
  background: white;
  color: #3c3c3c;
  transition: .3s;
}

.sub-menu {
  display: none;
}

.menu-item:hover .sub-menu {
  display: block;
  position: absolute;
  top:32px;
  background: rgb(142, 136, 108);
  width: 100%;
}

footer {
  background: rgb(171, 96, 79);
  position: relative;
  color: white;
}

footer ul li {
  display: inline-block;
  padding: 40px 10px 10px 10px;
}

footer ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat",sans-serif;
}

footer p a {
  color: white;
  padding-left: 5px;
  font-size: 35px;
}

.social-media-icons {
  position: absolute;
  right: 15px;
  bottom: 5px;
}

/*=======================

 Home Section Styling

========================*/

.home-section {
  background: rgb(207, 152, 134);
  position: relative;
  min-height: 90vh;
}

.images {
  text-align: center;
}

.individual-image {
  display: inline-block;
}

.city-image {
  max-width: 350px;
  margin: 70px 20px 20px 20px;
  padding: 10px;
  background: rgb(239, 226, 223);
}

.greeting {
  color: rgb(121, 115, 81);
  position: absolute;
  font-family: "Billie Bonnie", cursive;
  font-weight: normal;
  font-size: 80px;
  right: 40px;
  top: 20px;
  transform: rotate(10deg);
  animation: movement 6s forwards 1 linear;
}

/*=======================

 About Page Styling

========================*/

.about-section{
  background: rgb(228, 207, 195);
  min-height: 110vh;
}

.about-me {
  background: rgb(216, 179, 153);
  max-width: 700px;
  max-height: 400px;
  float: right;
  padding: 20px 20px 0 20px;
  margin: 190px 70px 0 0;
  position: absolute;
  right: 100px;
  z-index: 9;
}

.about-me-box {
  background: rgb( 121, 115, 81);
  position: absolute;
  z-index: 8;
  height: 200px;
  width: 400px;
  right: 145px;
  top: 350px;
}

.about-greeting-1 {
  color: rgb(121, 115, 81);
  font-family: "Billie Bonnie", cursive;
  font-size: 70px;
  font-weight: normal;
}

.about-greeting-2 {
  color: rgb(121, 115, 81);
  font-family: "Fira Sans", sans-serif;
  font-weight: lighter;
  font-size: 40px;
  text-align: center;
}

.summary,
.summary2 {
  color: white;
  font-family: "Fira Sans", sans-serif;
}

.summary2 {
  margin-top: 20px;
}

.closing {
  color: rgb(121, 115, 81);
  font-family: "Billie Bonnie", cursive;
  font-size: 70px;
  text-align: right;
}

.about-image {
  float: left;
  margin: 70px 0 0 160px;
  background: rgb(207, 152, 134);
  padding:40px;
  position: relative;
}

/*=======================

 Contact Page Styling

========================*/

.contact-form-section {
  background: rgb(228, 207, 195);
  min-height: 100vh;
}

.container {
  float: right;
  margin: 60px 450px 0 0;
  max-width: 200px;
}

.contact-heading {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
  width: 465px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: rgb(121, 115, 81);
  text-shadow: 1px 1px 1px white;
}

.contact-form {
  background: rgb(228, 207, 195);
  border: 25px solid rgb(171, 96, 79);
  width: 400px;
  padding: 5px 0 5px 15px;
}

.label {
  display: block;
  padding: 5px 0;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: rgb(121, 115, 81);
  text-shadow: 1px 1px 1px white;
}

input {
  padding: 5px 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  border: 2px solid rgb(121, 115, 81);
  font-family: "Montserrat", sans-serif;
}

textarea {
  padding: 10px 10px;
  border-radius: 4px;
  border: 2px solid rgb(121, 115, 81);
  font-family: "Montserrat", sans-serif;
}

.submit,
.reset {
  display: inline-block;
  margin-top: 15px;
}

.submit input,
.reset input {
  padding: 10px;
  margin: 8px 9px 10px 0;
  background: rgb(228, 207, 195);
  color: rgb(121, 115, 81);
  text-shadow: .5px .5px .2px white;
  font-weight: bold;
  transition: .5s;
}

.submit input:hover,
.reset input:hover {
  background: rgb(171, 96, 79);
  color: rgb(239, 226, 223);
  text-shadow: none;
  cursor: pointer;
  transition: .5s;
}

.contact-me-box1 {
  background: rgb( 121, 115, 81);
  position: absolute;
  z-index: 8;
  height: 120px;
  width: 250px;
  left: 125px;
  top: 380px;
}

.contact-me-box2 {
  background: rgb( 171, 96, 79);
  position: absolute;
  z-index: 8;
  height: 120px;
  width: 250px;
  left: 387px;
  bottom: 110px;
}

.contact-me {
  width: 400px;
  float: left;
  margin: 220px 0 0 150px;
  background: rgb(216, 179, 153);
  padding: 30px;
  position: relative;
  z-index: 99;
}

.contact-greeting {
  font-family: "Billie Bonnie", cursive;
  font-weight: normal;
  font-size: 60px;
  color: rgb(121, 115, 81);
}

.contact-summary {
  font-family: "Fira Sans", sans-serif;
  color: rgb(239, 226, 223);
  text-shadow: .1px .1px .1px white;
}

/*=======================

  Photoshop Page Styling

========================*/

.container-photoshop {
  background: rgb(228, 207, 195);
}

.ps-projects {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.ps-title {
  font-family: "Montserrat", sans-serif;
  padding: 70px 50px 50px 50px;
  color: rgb(121, 115, 81);
  text-decoration: underline;
}

.ps1 {
  background: rgb(207, 152, 134);
  padding: 10px;
}

.individual-project-2 {
  clear: both;
}

.ps2 {
  position: relative;
  top: -208px;
}

.individual-project-2 img {
  background: rgb(207, 152, 134);
  padding: 10px;
  margin: 0 20px 0;
}

.individual-project-3 img {
  background: rgb(207, 152, 134);
  padding: 10px;
}

.ps4,
.ps5 {
  margin: 0 20px 0;
}

.ps5 {
  position: relative;
  top: -15px;
}

.ps6 {
  margin-top: 30px;
}

.individual-project-4 img {
  background: rgb(207, 152, 134);
  padding: 10px;
  margin: 0 20px 0;
}

.caption-1,
.caption-2,
.caption-3,
.caption-4 {
  padding: 20px;
  font-family: "Fira Sans", sans-serif;
  background: rgb(207, 152, 134);
  max-width: 250px;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 120px;
  color: rgb(239, 226, 223);
  border-radius: 2px;
  font-size: 18px;
}

.gallery {
  max-width: 880px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 40px;
}

.gallery h2 {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 5px;
  color: rgb(121, 115, 81);
  text-decoration: underline;
}

.gallery h2:before {
  content: "\f005";
  font-family: "FontAwesome";
  padding-right: 2px;
}

.ps-gallery img {
  max-width: 300px;
  max-height: 400px;
}

.ps-gallery img {
  filter: grayscale(100%);
  transition: transform .2s;
  transition: .3s;
}

.ps-gallery img:hover {
  filter: grayscale(0);
  transform: scale(1.5);
  transition: .3s;
  position: relative;
  z-index: 9;
}

/*==========================

  Illustrator Page Styling

===========================*/

.container-illustrator {
  background: rgb(228, 207, 195);
}

.ai-projects {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.ai-title {
  font-family: "Montserrat", sans-serif;
  padding: 70px 50px 50px 50px;
  color: rgb(121, 115, 81);
  text-decoration: underline;
}

.ai1,
.ai2,
.ai3 {
  background: rgb(207, 152, 134);
  padding: 10px;
  margin: 0 20px 0;
}

.ai4 {
  position: relative;
  left: 40px;
}

.ai5 {
  position: relative;
  top: -212px;
  left: 40px;
}

.ai6 {
  position: relative;
  right: 325px;
}

.ai8 {
  position: relative;
  left: 95px;
  bottom: 380px;
}

.ai7 {
  position: relative;
  bottom: 60px;
  left: 135px;
}

.ai4,
.ai5,
.ai6,
.ai7,
.ai8 {
  background: rgb(207, 152, 134);
  padding: 10px;
  margin: 0 20px 0;
}

.caption-5,
.caption-6 {
  padding: 20px;
  font-family: "Fira Sans", sans-serif;
  background: rgb(207, 152, 134);
  max-width: 250px;
  text-align: center;
  margin: 0 auto;
  color: rgb(239, 226, 223);
  border-radius: 2px;
  font-size: 18px;
}

.caption-5 {
  margin-top: 15px;
  margin-bottom: 120px;
}

.caption-6 {
  margin-top: -30px;
  margin-bottom: 100px;
}

.gallery-ai {
  max-width: 880px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 40px;
}

.gallery-ai h2 {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 5px;
  color: rgb(121, 115, 81);
  text-decoration: underline;
}

.gallery-ai h2:before {
  content: "\f005";
  font-family: "FontAwesome";
  padding-right: 2px;
}

.gallery-ai1 {
  position: relative;
  bottom: 90px;
}

.gallery-ai2 {
  position: relative;
  right: 154px;
}

.ai-gallery img {
  max-width: 300px;
  max-height: 400px;
}

.ai-gallery img {
  filter: grayscale(100%);
  transition: transform .2s;
  transition: .3s;
}

.ai-gallery img:hover {
  filter: grayscale(0);
  transform: scale(1.5);
  transition: .3s;
  position: relative;
  z-index: 9;
}

/*==========================

  Animation Section

===========================*/

@keyframes movement {
  0% {
    left: -300px;
}
  100% {
    left: 1188px;
  }
}
